.title-faq {
    margin-top: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--mprimary-100);
    font-size: 3.35rem;
}

p.list-y {
    font-weight: 700;
    margin: 32px 0 12px 0;
  }