/* Index */
$card-border-width: 0;
$card-border-radius: 0.25rem;

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-weight: 500;
  color: var(--mprimary-100);
  letter-spacing: 1.25px;
  font-size: 1.75rem;
  line-height: 1.65;
}

#card-group-01 div.card {
  border-radius: 0;
}

#card-group-01 div.card img.card-img-top {
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#card-group-01 h5.card-title {
  font-weight: 700;
  color: var(--msecondary-100);
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

#card-group-01 p.card-text {
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.border-right-primary {
  position: relative;
  z-index: 1;
}

.border-right-primary:before {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 200px;
  width: 25%;
  border-right: 2px solid rgb(53, 185, 203, 0.5);
}

.bg-mprimary-020 {
  background-color: rgb(53, 185, 203, 0.2);
}

#section-needs .content ul {
  list-style: none;
  padding: 0;
}

#section-needs .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.35rem;
}

#section-needs .content ul i {
  font-size: 1.25rem;
  margin-right: 0.85rem;
  color: var(--msecondary-100);
}

#section-needs div.col-lg-5 img.img-fluid {
  margin-left: auto;
  display: block;
  margin-right: auto;
  width: 350px;
}

#section-services div.container div h1 {
  text-transform: uppercase;
  color: var(--mprimary-100);
  letter-spacing: 0.5px;
  font-weight: 700;
}

#section-services div.container div div div.card {
  max-width: 23rem;
  margin-left: auto;
  margin-right: auto;
}

#section-services h5.card-title {
  font-weight: 700;
  color: var(--mprimary-100);
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

#section-services p.card-text {
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#section-services div.col-lg-12.my-5.text-center button.btn.btn-msecondary-100 {
  color: var(--mlight);
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: uppercase;
  width: 12.95rem;
  height: auto;
  padding: 0.65rem;
}
