$input-border-radius: 0.250rem;

.btn.btn-msecondary-100.rounded-5 {
   color: rgb(255, 255, 255);
   font-weight: 500;
}

a.text-decoration-none {
    color: #35b9cb;
}

a.text-decoration-none:hover {
    color: #1ea8bb;
}

