.title-privacy {
  margin-top: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--mprimary-100);
  font-size: 3.35rem;
}

div.row.justify-content-center div.col-lg-12 p {
  color: rgb(117, 117, 117);
}

p.mt-p5 {
  margin-top: 3.5rem;
}

p.subtitle-y5 {
  margin: 2.5rem 0 2.5rem 0;
  font-weight: 700;
}

.mt-p2 {
  margin-top: 40px !important;
}

p.list {
  font-weight: 700;
  margin: 0 0 12px 0;
}
