$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;


// Custom Colors
$brand-google: #ea4335 !default;
$brand-facebook: #3b5998 !default;



$font-family-sans-serif: 'Roboto', sans-serif;


$component-active-bg: #35b9cb;